/* Reader-only header overrides */

#reader-home {
  height: fit-content;
}

.site-header--reader #toc-toggle {
  padding-top: 10px;
  padding-bottom: 10px;
}

.doc-meta {
  margin: 0;
  text-align: left;
}
